<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My First Prject</title>
</head>
<body>
    <h4>
      Idle transactions:
    </h4>
    <p>To drop lock just copy that query and insert in psql console</p>
        <table border="1">
        <tr>
          {% for d in data %}
          <tr> <td>{{ d[0] }} </td></tr>
         {% endfor %}
      </table>
</body>
</html>